html {
    box-sizing: border-box;
}

body {
    margin: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
    color: ;
}


h1 {
    font-family: 'Libre Baskerville', 'Helvetica', sans-serif;
}

p, ul {
    font-style: italic;
}

ul {
    /*list-style: georgian;*/
}

.sub {
    font-style: italic;
}

.outer {
    height: 100%;
    width: 100%;
    padding: 30px 0;
    background: #FE8585 no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.inner {
    box-sizing: border-box;
    background: #E7E6E6;
    margin: 0 auto;
    padding: 30px 5%;
    border-color: #666;
    border-style: solid;
    border-width: 8px 0 2px;
    color: #555151;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .8);
}

.divider {
    height: 1px;
    width: 100%;
    background-color: #BCB5B5;
    margin: 20px 0;
}

/*.vert-divider {
    height:
}*/

.profile {
    width: 270px;
    height: 270px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    box-shadow: -2px 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: -2px 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: -2px 0 8px rgba(0, 0, 0, .8);
    overflow: hidden;
    margin: 0 auto;
}

