html {
    box-sizing: border-box;
    font-size: .9em;
}

body {
    margin: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
    color: ;
}

h1 {
    font-family: 'Libre Baskerville', 'Helvetica', sans-serif;
}

p, ul, ol{
    margin: 22px 0;
    font-style: italic;
    font-size: .94em;
}

ul {
    /*list-style: georgian;*/
}

.skill-bar {
    height: 5px;
    width: 100%;
    background-color: #BBBBBB;
    border-radius: 4px;
    overflow: hidden;
}

.skill-bar > div:first-child {
    height: 100%;
    float: left;
    background-color: #5A63E4;
    border-radius: inherit;
    box-shadow: 3px 0px 2px #777;
}

.sub {
    font-style: italic;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.outer {
    height: 100%;
    width: 100%;
    padding: 30px 0;
    background: #FE8585 no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.inner {
    box-sizing: border-box;
    background: #E7E6E6;
    margin: 0 auto;
    padding: 40px 5% 60px;
    border-color: #666;
    border-style: solid;
    border-width: 8px 0 2px;
    color: #555151;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .8);
}

.divider {
    height: 0;
    width: 100%;
    border-width: 1px 0 0;
    border-style: solid none;
    border-color: #BCB5B5;
    margin: 20px 0;
}

.profile {
    width: 270px;
    height: 270px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    box-shadow: -2px 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: -2px 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: -2px 0 8px rgba(0, 0, 0, .8);
    overflow: hidden;
    margin: 0 auto;
}

.social-button {
    margin: 0 5px 20px;
    text-align: center;
    padding: 7px 8px;
    border-radius: 50%;
    background-color: blue;
    text-decoration: none;
    height: 40px;
    width: 40px;
    color: #fff;
    font-size: .8em;
    font-weight: bold;
}

.social-button.facebook {
    background-color: #2A49A5;
}

.social-button.github {
    background-color: #040204;
}

.social-button.twitter {
    background-color: #00aced;
}

.social-button.linkedin {
    background-color: #007bb6;
}

.social-button.facebook:hover, .social-button.facebook:focus {
    opacity: 1.5;
}